body {
  background-color: #333;
  color: #eee;
  font-family: sans-serif;
  padding: 1rem;
  h1 {
    color: gold;
  }
  nav {
    background-color: #222;
    padding: 0.5rem;
    a {
      margin-right: 1rem;
      color: #eee;
      text-decoration: none;
    }
    a.active {
      color: rgb(243, 243, 185);
    }
  }

  .front {
    background-color: #222;
    padding: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    .category {
      margin-right: 0.5rem;
      color: orange;
    }
  }
  .back {
    color: tomato;
  }

  .pageCategory {
    select {
      margin-top: 1rem;
      padding: 0.4rem;
      border-radius: 5px;
      outline: none;
      font-size: 1.5rem;

      &:hover {
        filter: brightness(80%);
      }
    }
    select:focus {
      border: none;
    }
  }
}
